body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, gray, black, #c1d0c3,#343d46);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#jumbo1 {
    width: 37% ;
    color: red;
    font-family: 'Cinzel', serif;



}
#jumbo2 {
    float: right;
    width: 40% ;
    position: relative;
    left: -325px;
    top: -175px; 
    color: white;
    outline-style: double;
    outline-color:white;
    font-family: 'Cinzel', serif;
    


    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

} 


#jumbo2_text {
    font-size: 32px; 
}

#input {
    position: relative;
    
    outline-style: double;
    outline-color: red;
}

#nav{
    animation-name: MENU;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    color:white;
}

.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.9);
   overflow-x: hidden;
   transition: 0.5s;
}

.overlay-content {
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
   margin-top: 30px;
}

.overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
}

.overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}

@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}

@keyframes notes {
    0% {
      font-size: 25px;
      transform:translate(0, 0);
      opacity: 0; 
    }
    50% {
      opacity: 1; 
    }
    100% {
      font-size: 60px;
      transform: translate(50px, -100px);
      opacity: 0; 
    }
  }
  .muzieknootjes{
    display: block;
    margin: 100px auto;
    position: relative;
    width: 200px;
    height: 60px;
    border: 0px solid #000
  }
  
  .noot-1 {
    top: 60px;
    left: 30px;
    transform-origin:0 0;
    animation: notes 2s infinite linear .5s;
    color: green;
    
  }
  
  .noot-1:hover{
    animaton-play-state: running;
  }
  
  .noot-2 {
    top: 30px;
    left: 90px;
    animation: notes 2s infinite linear 1s;
    color: red;
  }
  
  .noot-3 {
    top: 60px;
    left: 10px;
    animation: notes 2s infinite linear 1.5s;
    color: blue;
  }
  
  .noot-4 {
    top: 30px;
    left: 100px;
    animation: notes 2s infinite linear 2s;
    color: black;
  }
  
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4{
    position: absolute;
    font-size: 35px;
    opacity: 0;
    
  }
  
  


